.App__Footer{
    width: 100%;
    height: fit-content;
    background: #25262b;
    padding: 15px;
    flex-direction: column;

    

    p{

        font-weight:500;
        font-size: 15px;
        margin: 10px;


    }
}
.footer-row{
    flex-direction: column;

    h4{
        color: var(--white-color);
        text-transform: capitalize;
        border-bottom: 5px solid var(--primary-color);
        
    }   
}
.fmedia{
    flex-direction: row;
    a{
        border-radius: 50%;
        background: var(--darkGray-color);
        margin: 10px;
        width: fit-content;
        padding: 10px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

