.project-container{
    min-height: 100vh;
    min-width: 100%;
    top: 0;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    gap: 75px;
    padding: 85px 50px 50px;
    align-items: center;
    @media screen and (max-width:1080px){
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }
}

.project-card{
        background-color: var(--white-color);
        height: max-content;
        border-radius: 10px;
        box-shadow: 5px 5px 15px var(--black-color);
    img{
        width: 100%;
        height: 100%;
        padding: 15px 15px 0;
    }
    h5{
        text-transform: uppercase;
    }
    p{
        line-height: 25pt;
        font-size: 18px;
    }
    a{
        margin:5px 15px 5px 0;
        text-transform: capitalize;
    }

    &:hover{
        box-shadow: 5px 5px 1rem var(--primary-color);
    }
    @media screen and (max-width:570px){
        width: 77vw;
    }
    @media screen and (min-width:570px){
        width: 37vw;
    }
    @media screen and (min-width:850px){
        width: 27vw;
    }

 
}
