.App__Skills{
    flex-direction: column;
    justify-content: flex-start;

    p{
        padding:25px 0;
    }

    @media screen and (max-width:450px){


        p{
            text-align: justify;
            padding:10px 0;
        }
    }
}

.App__Skills-skills{

    @media screen and (max-width:450px) {
        padding: 10px;
        width: 100%;
        height: 60%;
        align-items: center;
       
    }
}

.App__Skills-skills-container{
    display: grid;
    grid-template-columns: 175px 175px 175px 175px;
    row-gap: 50px;
    column-gap: 80px;
    justify-content: center;



    @media screen and (max-width:450px){
        //background-color: rebeccapurple;
        grid-template-columns: auto;
        overflow: auto;
        scroll-behavior: smooth;
        padding: 25px;
        width: 55vw;
        height: 100%;
        margin: 5px auto;

       &::-webkit-scrollbar{
        display: none;
    }    
    }
       
}

.App__Skills-skills-container-item{
       
    
    .Skills-card{
        background-color: var(--white-color);
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        box-shadow:10px 10px 15px var(--gray-color);

        
        img{
            height: 100px;
            width: fit-content;
            border-radius: 10px;
            padding: 2px;
            margin: 5px;
        }
        h2{
            font-size: 22px;
            text-transform: uppercase;
            padding: 2px;
            margin: 5px;
        }


        &:hover{
            box-shadow: 10px 10px 1.3rem rgb(   0, 150, 255,0.5);
        }

        @media screen and (max-width:450px){
            width: 150px;
            height: 150px;

             img{
                height: 50px;
                width: fit-content;
                border-radius: 10px;
                padding: 2px;
                margin: 5px;
            }
            h2{
                font-size: 18px;
                text-transform: uppercase;
                padding: 2px;
                margin: 5px;
            }
        }
    }
}