
.about-row{
    display: flex;
    justify-content: space-between;
}
.about-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;


    .about-img{
        width: 55vh;
        height: auto;
        box-shadow: -50px -50px 0 -40px var(--primary-color) ,
          50px 50px 0 -40px  var(--primary-color);
        
        img{
            background-color:var(--white-color);
            width: 100%;
            height: auto;
            object-fit: cover;

        }
       
    }
    @media screen and (min-width:8600px){
        width: 50vw;
    }
    @media screen and (max-width:1080px){
        justify-content: center;
        align-items: flex-start;
        .about-img{
            width: 55vw;
            height: auto;
            box-shadow: -30px -30px 0 -20px var(--primary-color) ,
              30px 30px 0 -20px  var(--primary-color);
        }
    }
}

.about-right{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
padding:0px 0px 95px 35px;

 
.about-content{
    h1{
           
                    font-weight: bold;
                    margin:5px 0 25px 0;
                    border-bottom: 3px solid var(--primary-color);
                    width: 300px;
                
                }
                h3{
                    font-size: 25px;
                    color: var(--primary-color);
                }
}
    
    p{
        color: black;
        display: flex;
        overflow: hidden;
        width: 50vw;
        text-align: justify;
    }

    @media screen and (max-width:1080px){
        padding:15px;
        .about-content{
            h1{
                margin:5px 0;
            }
            h3{
                margin-top: 5px;
            }
        }
        p{
            width: 100%;
            overflow: hidden;
            padding: 5px;
        }
        .hide-para{
            display: none;
        }
    }
}
