.App__Contact{
flex-direction: column;
justify-content: flex-start;
    .App__Contact-wrap{
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding: 10px;

        .wrap-item{
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 30% 70%;
            margin-right: 75px;
            background-color: #fef4f5;
            padding: 5px;
            width: 19rem;
            height:fit-content;

            border-radius: 10px;

            img{
                height: 50px;
                width: fit-content;
                margin: 10px;
                margin-right: 20px;
            }

            a{
                color: var(--black-color);
                font-weight: 400;
                font-size: 15;
               text-transform: lowercase;

            }

            &:last-child{
                background-color: #f2f7fb;
            }
        }

    }

    @media screen and (max-width:450px) {
        h2{
            font-size: 40px;
        }
        .App__Contact-wrap{
            flex-direction: column;
        }
    }
}


.App__Contact-form{
    flex-direction: column;
    padding: 15px;
    margin: 10px;

    h3{
        text-transform: capitalize;
        font-size: 35px;
        margin-top: 5%;
    }
    
    .p{
        font-size: 18px;
        line-height: 22pt;
    }

    .form-field{
        display: block;
        width: 55vw;
        background-color:  rgb(   0, 150, 255,0.3);
        padding: 12px;
         margin: 15px;
         border-radius: 10px;
         box-shadow: 0px 0px 0.9rem transparent;
         border: 3px solid transparent;

        
        input,textarea{
            outline: none;
            background-color:transparent;
            border: none;
            border-radius: 10px;
            width: 90%;
        }



        &:last-child{
            background-color: none;
            align-items: center;
        }

        &:hover{
           box-shadow: 0px 0px 1rem rgb(   0, 150, 255,0.5);
           background-color: var(--white-color);
           border: 3px solid var(--primary-color);
        }
    }
}


.form-field-btn{
    button{
        padding: 15px;
        border-radius: 5px;
        border: none;
        color: var(--white-color);
        background-color: var(--primary-color);
        margin: 20px;
        font-size: 17px;
        cursor: pointer;

        &:hover{
            background-color:rgb(   0, 150, 255,0.5) ;
        }
    }
}