
.App__Header-container{
    flex-direction: row;
    padding-top: 75px;

    .row{

        display: flex;
        align-items: center;
        padding: 0 10%;
        position: relative;
        justify-content: center;
    }

    @media screen and (max-width:580px){
        padding-top:0px;
        .row{
            flex-direction: column-reverse;
        }
        .right_row{
            img{
                margin-bottom: 20px;
            }
        }
    }

}

.left_row{
    line-height: 1.5rem;
    text-align: left;
    padding: 10px;
    width: fit-content;

        p{
            text-align: justify;
        }
}
.home-btn{
    margin: 15px 15px 15px 0;
    @media screen and (max-width:1080px){
        a{
            font-size: 15px;
        }
    }
}
h1{
    font-family: 'Bitter', serif;
}
a{
    color: var(--white-color);
    &:hover{
        color: rgb(255,255,255,0.7);
    }
}

.right_row{
     @media screen and (max-width:666px){
        img{
            width: 75vw;
            height: fit-content;
        }
    }
    @media screen and (min-width:660px){
        img{
           height: 50vh;
           width: fit-content;
        }
    }
    @media screen and (min-width:990px){
        img{
            width: 45vw;
            height: fit-content;
        }
    }
    @media screen and (min-width:1080px){
        img{
            width: auto;
            height: 41vw;
        }
}
   overflow: hidden;
   width: fit-content;

    .profile-img{
        overflow: hidden;

        img{
            object-fit: cover;
          }

    }
        
}

@media screen and (min-width:1080px){
    .breakpoint-home{
        display: flex;
        flex-direction: column-reverse;
    }
}
