.App__Navbar{
    width: 100vw;
    height: 7vh;
    top: 0;
    position: fixed;
    backdrop-filter:blur(4px);
    z-index: 10;
    padding: 5px 15px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgba(255,255,255,0.25);
    border: 1px solid  rgba(255,255,255,0.18);

    @media screen and (max-width:1080px) {
            position: fixed;
    }
    
}

.App__Navbar-logo{
    img{
        width: 150px;
        height: auto;
        cursor: pointer;
        
        @media screen and (max-width:1080px) {
             width: 100px;
        }
    }
 
    padding: 8px;

    @media screen and (max-width:1080px) {
        padding: 5px;
    }  
}

.App__Navbar-list{
  padding: 5px;
flex: 1;
margin-top: 10px;

  li{
    margin: 0 30px; 
    flex-direction: column; 
    cursor: pointer; 

    @media screen and (max-width:1080px) {
         margin: 0 5px;
         display: none;
    }

    div{
        background-color: transparent;
        border-radius: 55px;
        margin-top: 5px;
        border-bottom: 3px solid var(--primary-color);
        opacity: 0;
         
     }

    a{
        color: var(--grey-color);
        transition: all 0.3s ease-in-out;
        
        &:hover{
            color:var(--primary-color);
        }

    }
   
    &:hover{
        a{
            color:var(--primary-color);
        }
        div{
            opacity: 1;
        }
    } 

    &:active{
        a{
            color:var(--primary-color);
        }
        div{
            opacity: 1;
        }
    } 

}
}


.App__Navbar-menu{
    padding: 5px;
    flex-direction: column;
  
    @media screen and (min-width:1080px) {
        display: none;
    }
    button{
        border: none;
        height: 45px;
        width: 45px;
        font-size: 25px;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        margin: 10px;
        transition: all 0.3s ease-in-out;
        
        top: 0;
        right: 0;
        position: fixed;
    
    }
}


.App__Navbar-menu-false{
width: 100vw;
height: 100vh;
position: absolute;
overscroll-behavior: contain;
top: 0;
left: 0;

    background: url('../../Assets/bgWhite.png');
    flex-direction: row-reverse;
    z-index: 100;
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;
    
  
button{
   margin-right: 10px;
   transition: all 0.3s ease-in-out;
   background-color: transparent;

}

.App__Navbar-menu-false-list{
    position: sticky;
}

ul{
    li{
        margin: 6rem;
        a{
            color: var(--grey-color);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 20px;

            &:hover{
                 color:var(--primary-color);
            }
        }

    
    }
}   

    
}

